<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="sidenav">
  <div class="login-main-text" style="color: white;">
    <h2 style="color: white;"><br> Registrar Usuario</h2>
    <p style="color: white;"> </p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-10">
    <div class="login-form">
      <form #userForm="ngForm"(ngSubmit)="create()" #f="ngForm">
        <br>
        <br>
        <div class="form-group">
          <label for="nombre" >Nombre </label>
          <div class="input-group mb-3">
            <input type="text" name="name" class="form-control" 
            placeholder="Nombre"  minlength="4"
              maxlength="50"
              [(ngModel)]="user.name" 
              #name="ngModel" 
            >
          </div>
        </div>
        <!-- <strong>{{f.value.nombre < 3 ? 'Ingrese un nombre valido':''}} </strong> -->
        <div class="form-group">
          <label>Apellido</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control " placeholder="Apellido" 
            required name="lastName" minlength="4"
              maxlength="50" 
              [(ngModel)]="user.lastName" >
            <div class="input-group-append">

            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Telefono</label>
          <input required type="text" placeholder="Telefono" class="form-control" name="phone" minlength="5" maxlength="50"
          [(ngModel)]="user.phone" >
        </div>

        <div class="form-group">
          <label>Email</label>
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" minlength="4" maxlength="50"
              placeholder="Email" required email
              [(ngModel)]="user.email" >
            <div class="input-group-append">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Puesto</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="jobTitle" minlength="4" maxlength="50"
              placeholder="jobTitle"  
              [(ngModel)]="user.jobTitle" >
            <div class="input-group-append">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-outline-success" [disabled]="f.invalid">Crear usuario
        </button>
      </form>
    </div>
  </div>
</div>